services:
  - type: web
    name: statistics-for-strava-app
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile
    dockerContext: ./
    envVars:
      - key: TZ
        value: Europe/Brussels
      - key: APP_ENV
        value: prod
    healthCheckPath: /

  - type: worker
    name: statistics-for-strava-daemon
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile
    dockerContext: ./
    dockerCommand: bin/console app:daemon:run
    envVars:
      - key: TZ
        value: Europe/Brussels
      - key: APP_ENV
        value: prod
