@import "tailwindcss";

:root {
    --background: #09090b;
    --foreground: #fafafa;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'Outfit', sans-serif;
}

.glass {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.08);
}